<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        @include('partials.navbar')
        <div class="main-container">
            <header class="landing-header">
                <div class="landing-welcome">
                    <h1>Reach your peak potential with Zenith</h1>
                    <p>
                        An exceptional learning platform with world class
                        mentors from around the world
                    </p>
                    <button type="button" class="btn btn-lg" href="/signup">
                        Get Started
                    </button>
                </div>
                <figure class="landing-welcome-figure">
                    <img src="" alt="landing-welcome-figure" />
                </figure>
            </header>
            <main class="landing-body">
                <section class="landing-sponsors">
                    <h6>Recommended and trusted by various institutions</h6>
                    <div class="sponsors">
                        <img src="" alt="sponsor-logo" />
                        <img src="" alt="sponsor-logo" />
                        <img src="" alt="sponsor-logo" />
                        <img src="" alt="sponsor-logo" />
                        <img src="" alt="sponsor-logo" />
                    </div>
                </section>
                <section class="landing-benefits">
                    <figure></figure>
                    <div class="benefits">
                        <h2>
                            Our plan is to provide the best growth environment
                            and learning experience for you
                        </h2>
                        <li>
                            <img src="" alt="" />
                            <p></p>
                        </li>
                    </div>
                </section>
                <section class="landing-reviews">
                    <h2>What our alumnus said about us</h2>
                    <p>
                        Our alumnus are scattered around the world and succeeded
                        in developing their career as professionals
                    </p>
                    <div class="card-group">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a wider card with supporting text
                                    below as a natural lead-in to additional
                                    content. This content is a little bit
                                    longer.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary"
                                    >Last updated 3 mins ago</small
                                >
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        @include('partials.footer')
    </body>
</html>
