footer {
    margin-top: auto;
    background-color: #263238;
    color: white;
    width: 100%;
    padding: 40px 20px 80px 20px;
    display: flex;
    justify-content: space-around;
}

.footer-identity {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-company,
.footer-support,
.footer-legals {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 20%;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer .logo {
    width: 25px;
}
